<link rel="stylesheet" type="text/css"  href="assets/css/style.css">

<link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.css">

<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <p>&copy; 2018. All rights reserved. Designed by <a href="KoTA 106" >KoTA 106</a></p>
    </div>
  </div>
</div>