<div class="wrapper">
	<app-sidebar></app-sidebar>

	<div class="main-panel">

		<app-navbar></app-navbar>

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 container">
						<div class="card">
							<div class="card-header card-header-primary" align="center">
								<h4 class="card-title ">CLASS : </h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered table-sm">
										<thead>
											<tr>
												<th style="width: 47%;" class="box-red">
													Name : 
												</th>
												<th style="width: 6%">

												</th>
												<th style="width: 47%;" class="box-blue">
													Name : 
												</th>
											</tr>
											<tr>
												<th style="width: 47%;" class="box-red">
													Contingent : 
												</th>
												<th style="width: 6%">

												</th>
												<th style="width: 47%;" class="box-blue">
													Contingent : 
												</th>
											</tr>
										</thead>
										<tbody  style=" overflow-y: auto;" >
										</tbody>
									</table>
								</div>

								<div class="table-responsive">
									<table class="table table-bordered table-sm" border="3">
										<thead align="center">
											<tr>
												<th style="width: 8.5%; font-weight: bold;" rowspan="2">
													ROUND
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR I
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR II
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR III
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR IV
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR V
												</th>
											</tr>
											<tr>
												<!-- juror I -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror II -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror III -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror V -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>
											</tr>

										</thead>
										<tbody  style=" overflow-y: auto;"  align="center">
											<tr>
												<th style="width: 8.5%;">
													<h3>I</h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
											</tr>
											<tr>
												<th style="width: 8.5%;">
													<h3>II</h3>
												</th>

												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
											</tr>
											<tr>
												<th style="width: 8.5%;">
													<h3>III</h3>
												</th>

												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
											</tr>
											<tr>
												<th style="width: 8.5%;font-weight: bold;">
													<h5>FINAL SCORE</h5>
												</th>

												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> 0 </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> 0 </h3>
												</th>
											</tr>
										</tbody>
									</table>
								</div>

								<div>
									<div align="center">
										<h4 style="font-weight: bold;">WINNER</h4>	
									</div>
									
									<div style="padding-left: 30%">
										<label>CORNER : </label>
									</div>
									<div style="padding-left: 30%">
										<label>WINNING BY / POINTS : </label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--  -->

		</div>
		<app-footer></app-footer>
	</div>
</div>