<div class="wrapper">
        <app-sidebar></app-sidebar>
        
        <div class="main-panel">
        
            <app-navbar></app-navbar>
            
            <div class="content">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-md-4 container">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Report List Participant</h4>
                                </div>
                                <div class="card-body">
                                    <form class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" >
                                                    <label class="bmd-label-floating">Class</label>
                                                       <select #selectKelas class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                      <option value="1">A</option>
                                                      <option value="2">B</option>
                                                      <option value="3">C</option>
                                                      <option value="4">D</option>
                                                      <option value="5">E</option>
                                                      <option value="6">F</option>
                                                      <option value="7">G</option>
                                                      <option value="8">H</option>
                                                      <option value="9">I</option>
                                                      <option value="10">J</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gender</label>
                                                       <select #selectGender class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">

                                                        <option value="L"> Male</option>
                                                        <option value="P">Female</option>
                                                        <option>Free</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <button type="submit" (click)="getSelected(selectKelas.value,selectGender.value)"  class="btn btn-primary pull-right">Preview & Print</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 container">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Report Competition Scheme</h4>
                                </div>
                                <div class="card-body">
                                    <form class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" >
                                                    <label class="bmd-label-floating">Class</label>
                                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                      <option>A</option>
                                                      <option>B</option>
                                                      <option>C</option>
                                                      <option>D</option>
                                                      <option>E</option>
                                                      <option>F</option>
                                                      <option>G</option>
                                                      <option>H</option>
                                                      <option>I</option>
                                                      <option>J</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gender</label>
                                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">

                                                       <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Free</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <button type="submit" [routerLink]="['/report-competition scheme']" class="btn btn-primary pull-right">Preview & Print</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>