<div class="wrapper">
	<app-sidebar></app-sidebar>

	<div class="main-panel">

		<app-navbar></app-navbar>

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 container">
						<div class="card">
							<div class="card-body">
								<div align="center">
									<p style="font-weight: bold;">
										PENCAK SILAT SCORING<br>
										BABAK KUALIFIKASI PORDA JAWA BARAT XIII-2018<br>
										CISARUA BOGOR<br>
										17-21 DESEMBER 2017
									</p>
									<label style="color: black; font-size: 12px">CLASS / GENDER :</label><br>
									<label style="color: black; font-size: 12px">COMPETITON NO  :</label><br>
									<label style="color: black; font-size: 12px">REFEREE NAME   :</label>

								</div>
								<div class="table-responsive">
									<table class="table table-bordered table-sm">
										<thead style="font-size: 14px">
											<tr>
												<th style="width: 47%;font-size: 14px" class="box-red">
													Name : 
												</th>
												<th style="width: 6%" class="box-zero">

												</th>
												<th style="width: 47%;font-size: 14px" class="box-blue">
													Name : 
												</th>
											</tr>
											<tr>
												<th style="width: 47%;font-size: 14px" class="box-red">
													Contingent : 
												</th>
												<th style="width: 6%" class="box-zero">

												</th>
												<th style="width: 47%;font-size: 14px" class="box-blue">
													Contingent : 
												</th>
											</tr>
										</thead>
									</table>
								</div>

								<div class="table-responsive">
									<table class="table table-bordered table-sm tb-juri" border="3" style="border: 1px solid black">
										<thead align="center">
											<tr>
												<th style="width: 3%; font-weight: bold;" rowspan="3">
													RND
												</th>
												<th rowspan="3" style="width: 1.3%;"></th>
												<th colspan="6" style="font-weight: bold;">
													JUROR I
												</th>
												<th rowspan="3" style="width: 1.3%;"></th>
												<th colspan="6" style="font-weight: bold;">
													JUROR II
												</th>
												<th rowspan="3" style="width: 1.3%;"></th>
												<th colspan="6" style="font-weight: bold;">
													JUROR III
												</th>
												<th rowspan="3" style="width: 1.3%;"></th>
												<th colspan="6" style="font-weight: bold;">
													JUROR IV
												</th>
												<th rowspan="3" style="width: 1.3%;"></th>
												<th colspan="6" style="font-weight: bold;">
													JUROR V
												</th>
											</tr>
											<tr>
												<!-- juror I -->
												<th colspan="3" class="box-red">
													RED
												</th>
												<th colspan="3" class="box-blue">
													BLUE
												</th>

												<!-- juror II -->
												<th colspan="3" class="box-red">
													RED
												</th>
												<th colspan="3" class="box-blue">
													BLUE
												</th>

												<!-- juror III -->
												<th colspan="3" class="box-red">
													RED
												</th>
												<th colspan="3" class="box-blue">
													BLUE
												</th>

												<!-- juror IV -->
												<th colspan="3" class="box-red">
													RED
												</th>
												<th colspan="3" class="box-blue">
													BLUE
												</th>

												<!-- juror V -->
												<th colspan="3" class="box-red">
													RED
												</th>
												<th colspan="3" class="box-blue">
													BLUE
												</th>
											</tr>

											<tr>
												<!-- juror I -->
												<!-- red -->
												<th style="width: 3%;">
													TOT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													POINT
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													POINT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													TOT
												</th>

												<!-- juror II -->
												<!-- red -->
												<th style="width: 3%;">
													TOT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													POINT
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													POINT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													TOT
												</th>

												<!-- juror III -->
												<!-- red -->
												<th style="width: 3%;">
													TOT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													POINT
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													POINT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													TOT
												</th>

												<!-- juror IV -->
												<!-- red -->
												<th style="width: 3%;">
													TOT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													POINT
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													POINT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													TOT
												</th>

												<!-- juror V -->
												<!-- red -->
												<th style="width: 3%;">
													TOT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													POINT
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													POINT
												</th>
												<th style="width: 3%;">
													MIN
												</th>
												<th style="width: 3%;">
													TOT
												</th>
											</tr>
										</thead>
										<tbody align="center">
											<tr>
												<th style="width: 3%;">
													<h3>I</h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror I -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror II -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror III -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror IV -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror V -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
											</tr>
											<tr>
												<th style="width: 3%;">
													<h3>II</h3>
												</th>

												<!-- juror I -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror II -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror III -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror IV -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror V -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
											</tr>
											<tr>
												<th style="width: 3%;">
													<h3>III</h3>
												</th>

												<!-- juror I -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror II -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror III -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror IV -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>

												<!-- juror V -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;color: red;">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;color: blue;">
													0
												</th>
											</tr>
											<tr>
												<th style="width: 3%;font-weight: bold;">
													<h5></h5>
												</th>
												<!-- juror I -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>

												<!-- juror II -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>

												<!-- juror III -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>

												<!-- juror IV -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>

												<!-- juror V -->
												<!-- red -->
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>
												<th style="width: 3%;">
													
												</th>
												<!-- blue -->
												<th style="width: 3%;">
													
												</th>
												<th style="width: 3%; font-weight: bold;" class="box-total" colspan="2">
													0
												</th>
											</tr>
										</tbody>
									</table>
								</div>

								<div>
									<div align="center">
										<h4 style="font-weight: bold;">WINNER</h4>	
									</div>
									
									<div style="padding-left: 30%">
										<label>CORNER : </label>
									</div>
									<div style="padding-left: 30%">
										<label>WINNING BY / POINTS : </label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--  -->

		</div>
		<app-footer></app-footer>
	</div>
</div>