<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Edit Profile</h4>
                                <p class="card-category">Complete your profile</p>
                            </div>

                            <div class="row" style="padding-left: 40px;padding-bottom: 60px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="card-body col-md-4">
                                            <div class=" card-body " style="background-color: #efefef">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group" >
                                                                <label class="bmd-label-floating">Class</label>
                                                                <select  class="form-control" id="exampleFormControlSelect2">
                                                                    <option>A</option>
                                                                    <option>B</option>
                                                                    <option>C</option>
                                                                    <option>D</option>
                                                                    <option>E</option>
                                                                    <option>F</option>
                                                                    <option>G</option>
                                                                    <option>H</option>
                                                                    <option>I</option>
                                                                    <option>J</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 pull-right">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Gender</label>
                                                                <select  class="form-control" id="FormControlSelect2">
                                                                    <option>Male</option>
                                                                    <option>Female</option>
                                                                    <option>Free</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn btn-primary pull-right">Select</button>
                                                        <button type="submit" class="btn btn-primary pull-left">Random</button>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary pull-right col-md-12">Preview & Print</button>
                                                    <div class="clearfix"></div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-body col-md-4"  >
                                            <div class="card-body " style="background-color: #efefef">
                                                <div class="table-responsive" style="max-height: 209px"  >
                                                    <table class="table table-striped table-sm" >
                                                        <thead class=" text-primary ">
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Contingent
                                                            </th>
                                                        </thead>
                                                        <tbody style=" overflow-y: auto;">
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    Dakota Rice
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my_gracket card-body" style="width: 100%;overflow-x: auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>

        </div>
    </div>
</div>