<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

<app-navbar-online></app-navbar-online>

<!-- about-1 Section -->
<div  id="about-1" style="padding-top: 40px">
  <div  class="container">
    <div class="column">
      <div class="col-md-12 ">
        <img src="assets/img/seagames.png" class="col-md-6 " alt="">
      </div>
      <div *ngFor="let champ of championships" class=" col-md-12">

        <div class="about-1-text card-body">
          <h2> {{champ.championshipName}} </h2>
        </div>
        <p>
            {{champ.description}}
        </p>

      </div>
    </div>
  </div>
</div>

<app-footer-online></app-footer-online>