<div class="wrapper">
        <app-sidebar></app-sidebar>
        
        <div class="main-panel">
        
            <app-navbar></app-navbar>
            
            <div class="content">
                <div class="container-fluid">
                   <div class="row">
                        <div class="col-sm-5">
                            <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">Data Participant</h4>
                                 <button type="button" [routerLink]="['/data-participant']" class="btn btn-primary">Manage</button>
                            </div>
                            </div>
                        </div>
                         <div class="col-sm-1">
                         </div>
                        <div class="col-sm-5">
                            <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">Data Contingent</h4>
                                <button type="button" [routerLink]="['/data-contingent']" class="btn btn-primary">Manage</button>
                            
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">Data Championship</h4>
                              <button type="button" [routerLink]="['/data-championship']" class="btn btn-primary">Manage</button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                         </div>
                         <div class="col-sm-5">
                            <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">Data Juror & Grand Juror</h4>
                               <button type="button" [routerLink]="['/data-juror']" class="btn btn-primary">Manage</button>
                               </div>
                            </div>
                        </div>
                        </div>
                </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </div>
            
        


<!-- <div class="wrapper"> 
    <app-sidebar></app-sidebar>
    
    <div class="main-panel">
    
        <app-navbar></app-navbar>
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Data Contingent</h4>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="formAdd" (ngSubmit) = "onSubmit(formAdd.value)">                                        
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">ID</label>
                                                <input type="text" class="form-control" disabled >
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Contingent Name</label>
                                                <input type="text" class="form-control" formControlName="contingentName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right">ADD</button>
                                    <div class="clearfix"></div>
                                </form>
                                <div class="table-responsive" style="max-height: 323px">
                                    <table class="table table-striped table-sm">
                                        <thead class=" text-primary">
                                            <th style="width: 12%">
                                                ID
                                            </th>
                                            <th style="width: 60%">
                                                Contingent
                                            </th>
                                            <th style="width: 28%" class="text-right">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody style=" overflow-y: auto;">
                                            <tr *ngFor="let cont of contingents">
                                                <td>
                                                    {{cont.contingentId}}
                                                </td>
                                                <td>
                                                    {{cont.contingentName}}
                                                </td>
                                                <td class="td-actions text-right" >
                                                    <button type="button" rel="tooltip" class="btn btn-info">
                                                        <i class="material-icons">person</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" class="btn btn-success">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" (click)="deleteContingents(cont.contingentId)" class="btn btn-danger">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Data Championship</h4>
                            </div>
                            <div class="card-body">
                                <form>                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Name Championship</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Location</label>
                                                <textarea class="form-control" rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Championship Logo</label>
                                                <input type="image" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row" style="padding-left: 15px">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Date Start</label>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Date End</label>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary pull-right">SET DATA CHAMPIONSHIP</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-9 container">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Data Participant</h4>
                                </div>
                                <div class="card-body">
                                    <form>                                        
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Filter By</label>
                                                    <select  class="form-control" id="filter-participant">
                                                        <option>Contingent</option>
                                                        <option>Gender</option>
                                                        <option>Contingent & Gender</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Contingent</label>
                                                    <select  class="form-control" id="filter-participant">
                                                        <option>Kota Bandung</option>
                                                        <option>Jakarta Barat</option>
                                                        <option>Jawa Timur</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group" >
                                                    <label class="bmd-label-floating">Class</label>
                                                    <select  class="form-control" id="exampleFormControlSelect2">
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>C</option>
                                                        <option>D</option>
                                                        <option>E</option>
                                                        <option>F</option>
                                                        <option>G</option>
                                                        <option>H</option>
                                                        <option>I</option>
                                                        <option>J</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 ">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gender</label>
                                                    <select  class="form-control" id="FormControlSelect2">
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Free</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="footer ">
                                                    <button type="submit" class="btn btn-primary ">
                                                            <i class="material-icons md-48">filter_list</i>
                                                    </button>
                                                </div>
                                        </div>
                                        
                                    </form>
                                    <div class="table-responsive" style="max-height: 323px">
                                        <table class="table table-striped table-sm">
                                            <thead class=" text-primary">
                                                <th style="width: 7%">
                                                    ID
                                                </th>
                                                <th style="width: 32%">
                                                    Name
                                                </th>
                                                <th style="width: 10%">
                                                    Class
                                                </th>
                                                <th style="width: 10%">
                                                    Gender
                                                </th>
                                                <th style="width: 26%">
                                                    Contingent
                                                </th>
                                                <th style="width: 25%" class="text-right">
                                                    Action
                                                </th>
                                            </thead>
                                            <tbody  style=" overflow-y: auto;" >
                                                <tr *ngFor="let cat of participants">
                                                    <td>  
                                                        {{ cat.participantId }}
                                                    </td>
                                                    <td>
                                                        {{ cat.participantName }}
                                                    </td>
                                                    <td>
                                                        {{ cat.className }}
                                                    </td>
                                                    <td>
                                                        {{ cat.gender }}
                                                    </td>
                                                    <td>
                                                        {{ cat.contingentName }}
                                                    </td>
                                                    <td class="td-actions text-right" >
                                                        <button type="button" rel="tooltip" class="btn btn-info">
                                                            <i class="material-icons">person</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" class="btn btn-success">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" class="btn btn-danger">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div> -->