<link rel="stylesheet" type="text/css"  href="assets/css/style.css">

<link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.css">

<app-navbar-online></app-navbar-online>

<!-- About Section -->
<div id="about">
  <div class="container set_container">
    <form [formGroup]="formAdd" (ngSubmit) = "onSubmit(formAdd.value)">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
          <h2>GROUP</h2>
          <select  (change)="selGroup($event)" id="group_list" class="form-control " style="width:200px"  >
            <option *ngFor="let grp of groups" value="{{grp.groupId}}" >
              {{ grp.groupName }}
            </option>
          </select>
          
        </div>
        <div formArrayName="items" class="col-xs-12 col-md-12" style="padding-top: 10px;">           
          <table class="table table-striped table-sm" style="padding-left: 10px;padding-right: 10px; overflow-y: auto; width: 150%">
            <thead>
              <tr style="text-align: center;">
                <th>Class</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Place of Birth</th>
                <th>Date of Birth</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cls of formAdd.controls.items.controls; let i = index" [formGroupName]="i" >
                
                <td>
                    <input formControlName="className" value="{{cls.get('className').value}} " type="text" name="name_participant" style="width:60px" disabled>
                    <input formControlName="classId" value="{{cls.get('classId').value}} " type="hidden" name="name_participant" style="width:160px" disabled>

                  </td>
                <td>
                  <input formControlName="participantName" class="form-control" type="text" name="name_participant" style="width:160px"required="" ngModel>
                </td>
                <td>
                  <input formControlName="age" class="form-control" type="number" name="age_participant" style="width:70px" required="" ngModel>
                </td>
                <td>
                  <input formControlName="gender" class="form-control" value="{{cls.get('gender').value}}" type="text" name="age_participant" style="width:70px" disabled>
                </td>
                <td>
                  <input formControlName="placeOfBirth" class="form-control" type="text" name="place_birth" style="width:160px" required="" ngModel>
                </td>
                <td>
                  <input formControlName="dateOfBirth" class="form-control" type="date" name="date_birth" style="width:140px" required="" ngModel>
                </td>
                <td>
                  <input formControlName="height" class="form-control" type="number" name="height_participant" style="width:70px" required="" ngModel>
                </td>
                <td>
                  <input formControlName="weight" class="form-control" type="number" name="weight_participant" style="width:70px" required="" ngModel>
                </td>
                <td>
                  <input formControlName="address" class="form-control" type="test" name="address_participant" style="width:160px" required="" ngModel >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6"></div>
        <div class="col-xs-12 col-md-6">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
  </form>
  </div>
</div>

<app-footer-online></app-footer-online>