<div class="sidebar" data-color="purple" data-background-color="white" data-image="img/sidebar-1.jpg">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            PENCAK SILAT
        </a>
    </div>
    <div class="sidebar sidebar-wrapper" data-color="azure">
        <ul class="nav">
            <li class="nav-item " disable>
                <a class="nav-link ">
                    <h4>Technical meeting</h4>
                </a>
            </li>
            <li class="nav-item " [routerLink]="['/data']" routerLinkActive="nav-item active ">
                <a class="nav-link"  >
                    <i class="material-icons">dashboard</i>
                    <p>Data</p>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['/competition-scheme']" routerLinkActive="nav-item active">
                <a class="nav-link" >
                    <i class="material-icons">person</i>
                    <p>Competition Scheme</p>
                </a>
            </li>
            <li class="nav-item " [routerLink]="['/detail-competition']" routerLinkActive="nav-item active">
                <a class="nav-link" >
                    <i class="material-icons">content_paste</i>
                    <p>Detail Competition</p>
                </a>
            </li>
            <li class="nav-item " [routerLink]="['/report']" routerLinkActive="nav-item active">
                <a class="nav-link"  >
                    <i class="material-icons">library_books</i>
                    <p>Report</p>
                </a>
            </li>
            <li class="nav-item" >
                    <a class="nav-link">
                        <h4>Match</h4>
                    </a>
                </li>
            <li class="nav-item " [routerLink]="['/monitoring-competition']" routerLinkActive="nav-item active">
                <a class="nav-link" >
                    <i class="material-icons">bubble_chart</i>
                    <p>Monitoring Competition</p>
                </a>
            </li>
            <li class="nav-item "  [routerLink]="['/report-match']" routerLinkActive="nav-item active">
                <a class="nav-link">
                    <i class="material-icons">location_ons</i>
                    <p>Report</p>
                </a>
            </li>
            <li class="nav-item " [routerLink]="['/view-penonton']" routerLinkActive="nav-item active">
                <a class="nav-link" >
                    <i class="material-icons">notifications</i>
                    <p>View Penonton</p>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['/view-dewan-juri']" routerLinkActive="nav-item active">
                <a class="nav-link" >
                    <i class="material-icons">unarchive</i>
                    <p>View Dewan Juri</p>
                </a>
            </li>
        </ul>
    </div>
</div>