  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
          <div class="navbar-wrapper">
              <a class="navbar-brand" href="#pablo">SISTEM INFORMASI PENGELOLAAN KEJUARAAN PENCAK SILAT</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="#pablo">
                          <i class="material-icons">person</i>
                          <p>
                              <span class="d-lg-none d-md-block">Account</span>
                          </p>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signin']" (click)="logout">
                        <i class="material-icons">input</i>
                        <p>
                            <span class="d-lg-none d-md-block">Logout</span>
                        </p>
                    </a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- End Navbar -->
