<div class="wrapper">
    <app-sidebar></app-sidebar>
    
    <div class="main-panel">
    
        <app-navbar></app-navbar>
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-12 container">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Monitoring Competition</h4>
                                </div>
                                <div class="card-body">
                                    <form>                                        
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                   <label class="bmd-label-floating">Round</label>
                                                      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                          <option value="1">Qualification</option>
                                                          <option value="2">Elimination</option>
                                                          <option value="3">Quarterfinal</option>
                                                          <option value="4">Semifinal</option>
                                                          <option value="5">Final</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Arena</label>
                                                       <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                        </select>
                                                </div>
                                            </div> 
                                            <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Competition Number</label>
                                                          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                            </select>
                                                    </div>
                                              </div>
                                              <div class="col-md-3">
                                            </div>
                                            
                                                 <div class="col-md-2">
                                                    <div class="form-group">
                                                        <button type="submit" [routerLink]="['/view-statistics']" class="btn btn-primary pull-left" style="margin-top: 28px;">View Statistics</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                    <br>
                                    <br>
                                    </div>
                                    <div class="table-responsive" style="max-height: 323px">
                                        <table class="table table-bordered table-sm">
                                            <thead class=" text-primary text-center">
                                                <th style="width: 7%">
                                                    Compt Number
                                                </th>
                                                <th style="width: 7%">
                                                    Class
                                                </th>
                                                <th style="width: 15%">
                                                    Name <br>
                                                    Contingent
                                                </th>
                                                <th style="width: 7%">
                                                    VS
                                                </th>
                                                <th style="width: 15%">
                                                    Name <br>
                                                    Contingent
                                                </th>
                                                <th style="width: 9%">
                                                    Winner
                                                </th>
                                                <th style="width: 10%">
                                                    Winning by Point
                                                </th>
                                                <th style="width: 30%">
                                                    Action
                                                </th>
                                            </thead>
                                            <tbody  style=" overflow-y: auto;" >
                                                <tr *ngFor="let cat of participants">
                                                    <td>  
                                                        {{ cat.participantId }}
                                                    </td>
                                                    <td>
                                                        {{ cat.participantName }}
                                                    </td>
                                                    <td>
                                                        {{ cat.className }}
                                                    </td>
                                                    <td>
                                                        {{ cat.gender }}
                                                    </td>
                                                    <td>
                                                        {{ cat.contingentName }}
                                                    </td>
                                                    <td class="td-actions text-right" >
                                                        <button type="button" rel="tooltip" class="btn btn-info">
                                                            <i class="material-icons">person</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" class="btn btn-success">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" class="btn btn-danger">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>