<link rel="stylesheet" type="text/css"  href="assets/css/style.css">

<link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.css">

<app-navbar-online></app-navbar-online>

<div id="contact" class="text-center">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="left">
        <button type="button" class="btn btn-primary-1 col-md-2 active">Choose Championship</button>
        <button type="button" class="btn btn-primary-1 col-md-2 disabled">Register Contingent</button>
        <button type="button" class="btn btn-primary-1 col-md-2 disabled">Register Participant</button>
      </div>
    </div>
    <div class="section-title text-center">
        <h2>CHAMPIONSHIP</h2>
        <hr>
    </div>
      <select (change)="selGroup($event)" class="form-control form-control-lg" name="category" id="validationCustom03" >
        <option *ngFor="let champ of championships" value="{{champ.championshipId}}">
          {{champ.championshipName}} 
        </option>
      </select>
      <br><br><br><br>
        <div id="success"></div>
        <button type="submit" [routerLink]="['/contingent']" class="btn btn-custom btn-lg">NEXT</button>
        <br><br>
        <p>register contingent</p>
  </div>
</div>

<app-footer-online></app-footer-online>