<div class="wrapper">
    <app-sidebar></app-sidebar>
    
    <div class="main-panel">
    
        <app-navbar></app-navbar>
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    
                      <div class="col-md-7 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Competition Schedule</h4>
                            </div>
                            <div class="card-body">
                                <form>                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Date Start</label>
                                                    <input type="date" class="form-control">
                                                </div>      
                                        </div>
                                         <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Time Start</label>
                                                    <input type="time" class="form-control">
                                                </div>      
                                        </div>
                                        <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Time End</label>
                                                    <input type="time" class="form-control">
                                                </div>      
                                        </div>

                                         <div class="col-md-2">
                                            <div class="form-group" >
                                                <label class="bmd-label-floating">Arena</label>
                                              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Selected Competition Number</label>
                                                    <div class="card"   style="height: 150px;">
                                                        <div class="card-body">
                                                            This is some text within a card body.
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

                                         <div class="col-md-2">
                                             <div class="form-group" style="margin-top: 190px;" >
                                                <button type="submit" class="btn btn-primary pull-right">Add</button>
                                            </div>
                                         </div>

                                        <div class="col-md-5">
                                            <div class="form-group" >
                                                <label class="bmd-label-floating">Round</label>
                                              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option value="1">Qualification</option>
                                                    <option value="2">Elimination</option>
                                                    <option value="3">Quarterfinal</option>
                                                    <option value="4">Semifinal</option>
                                                    <option value="5">Final</option>
                                                    
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Competition Number</label>
                                                    <div class="card"   style="height: 150px;">
                                                        <div class="card-body">
                                                           
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

                                         <div class="col-md-2">
                                             <div class="form-group" style="margin-top: 140px;">
                                                <button type="submit" class="btn btn-primary pull-left">Delete</button>
                                                <button type="submit" class="btn btn-primary pull-left">Preview and Print</button>
                                            
                                            </div>
                                         </div>
                                        
                                    </div>
                                    
                                    
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>