<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<link rel="stylesheet" type="text/css" href="">

<app-navbar-online></app-navbar-online>


<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="intro-text" style="text-align: center">
              <h1>Pencak Silat Championship</h1>
              <p>Haven't Register for this Championship yet? Register your contingent and participant here</p>
              <a href="#about" [routerLink]="['/login']" class="btn btn-custom btn-lg page-scroll">Sign Up Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div *ngFor="let champ of championships" class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="about-text">
          <img src="assets/img/seagames.png" class="col-md-12">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>{{champ.championshipName}}</h2>
          <hr>
          <p>{{champ.description}} Lorem ipsum dolor sit amet, debet recusabo definiebas at eam, ne vis case iusto consulatu.
            Per eligendi aliquando interpretaris ei, quo dicat facilis no, qui augue timeam iuvaret ex. Ad suas contentiones
            pro, sale viris quidam an mei. Cum ea doming splendide definiebas, etiam melius referrentur cu sed. Sit eu nominavi
            prodesset, eum eu civibus epicurei. Quaeque pertinax ad est, vix eu soleat malorum. Ut has meliore fabellas.
            Ea sed audire meliore reprimique, vel ex dico veniam referrentur. Nec te idque bonorum. Vix principes reprimique
            suscipiantur id.</p>
          <a href="#about" [routerLink]="['/event']" class="btn btn-custom btn-lg page-scroll">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-12 col-md-offset-2">
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
      <p>&copy; 2018. All rights reserved. Designed by
        <a href="KoTA 106">KoTA 106</a>
      </p>
    </div>
  </div>
</div>