<link rel="stylesheet" type="text/css"  href="assets/css/style.css">

<link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.css">

<!-- Navigation
    ==========================================-->
    <nav id="menu" data-spy="scroll" class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
        <div class="container"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span> 
               <span class="icon-bar"></span> <span class="icon-bar">
               </span> <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand page-scroll" href="home">CV. Yoshi</a> </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="navbar-nav-scroll ml-md-auto " id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav bd-navbar-nav flex-row">
              <li class="nav-item"><a  [routerLink]="['/home']" class="nav-link">Home</a></li>
              <li class="nav-item"><a  [routerLink]="['/login']" class="nav-link">Sign In</a></li>
              <li class="nav-item"><a  [routerLink]="['/home']" (click)="logout" class="nav-link">Sign Out</a></li>

            </ul>
          </div>
          
          <!-- /.navbar-collapse --> 
      </div>
    </nav>
      