<link rel="stylesheet" type="text/css"  href="assets/css/style.css">

<link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.css">

<app-navbar-online></app-navbar-online>

<div id="contact" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="left">
        <button type="button" [routerLink]="['/championship']" class="btn btn-primary-1">Choose Championship</button>
        <button type="button" class="btn btn-primary-1 active">Register Contingent</button>
        <button type="button" class="btn btn-primary-1 disabled">Register Participant</button>
      </div>
    </div>

    <div class="text-center" style="padding-top: 30px">
          <h2>REGISTER</h2>
    </div>

    <div class="container-fluid" >
      <div class="row">
          <div class="mx-auto col-sm-6 container">
            <!-- form user info -->
            <div class="card text-center">
                <div class="card-body" >
                    <form [formGroup]="formAdd" (ngSubmit) = "onSubmit(formAdd.value)" class="form" >
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Contingent Name</label>
                            <div class="col-lg-9">
                                <input formControlName="contingentName" class="form-control" type="text" value="" placeholder="contingent name" required="" ngModel>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Official Name</label>
                            <div class="col-lg-9">
                                <input formControlName="officialName" class="form-control" type="text" value="" placeholder="official full name" required="" ngModel >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Contingent Address</label>
                            <div class="col-lg-9">
                                  <textarea formControlName="contingentAddress" class="form-control" rows="5" id="Address" placeholder="contingent address" required="" ngModel></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Participant Amount</label>
                            <div class="col-md-2">
                                <input formControlName="participantAmount" class="form-control" type="text" value="" required="" ngModel> 
                            </div>
                        </div>
                      
                        <div class="form-group row" style="margin-right: 50px;">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                            
                                <button type="submit" class="btn btn-primary-2" value="REGISTER">REGISTER</button>
                              <br><br>
                        <p>register participant</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form user info -->
          </div>
      </div>
    </div>
      
  </div>
</div>

<app-footer-online></app-footer-online>