<div class="wrapper">
    <app-sidebar></app-sidebar>
    
    <div class="main-panel">
    
        <app-navbar></app-navbar>
        
        <div class="content">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-4 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Competition Scheme</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group" >
                                                <label class="bmd-label-floating">Class</label>
                                                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option>A</option>
                                                    <option>B</option>
                                                    <option>C</option>
                                                    <option>D</option>
                                                    <option>E</option>
                                                    <option>F</option>
                                                    <option>G</option>
                                                    <option>H</option>
                                                    <option>I</option>
                                                    <option>J</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Gender</label>
                                                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Free</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button type="submit" [routerLink]="['/report-compt-scheme']" class="btn btn-primary pull-right">Preview & Print</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Schedule Scheme</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group" >
                                                <label class="bmd-label-floating">Class</label>
                                                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option>A</option>
                                                    <option>B</option>
                                                    <option>C</option>
                                                    <option>D</option>
                                                    <option>E</option>
                                                    <option>F</option>
                                                    <option>G</option>
                                                    <option>H</option>
                                                    <option>I</option>
                                                    <option>J</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Gender</label>
                                                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Free</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button type="submit" [routerLink]="['/report-compt-schedule']" class="btn btn-primary pull-right">Preview & Print</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">description</i>
                                </div>
                                <p class="card-category">Report</p>
                                <h3 class="card-title">Class Champhion</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        <button type="submit" [routerLink]="['/report-class-champion']" class="btn btn-primary pull-left">Preview & Print</button>

                        </div>
                    </div>

                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">description</i>
                                    </div>
                                    <p class="card-category">Report</p>
                                    <h3 class="card-title">Weight Validation</h3>
                                    <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" >
                                                    <label class="bmd-label-floating">Class</label>
                                                      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>C</option>
                                                        <option>D</option>
                                                        <option>E</option>
                                                        <option>F</option>
                                                        <option>G</option>
                                                        <option>H</option>
                                                        <option>I</option>
                                                        <option>J</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Compt Number</label>
                                                      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3 </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                    </div>
                                </div>
                                <button type="submit" [routerLink]="['/report-weight-validation']" class="btn btn-primary pull-left">Preview & Print</button>
    
                            </div>
                        </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">description</i>
                                </div>
                                <p class="card-category">Report</p>
                                <h3 class="card-title">Medal List</h3>
                                <br>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                                <button type="submit" [routerLink]="['/report-medal-list']" class="btn btn-primary pull-left">Preview & Print</button>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>